:root {
    --primary: #222;
    --primary400: #3D3F43;
    --primary600: #6D8389;
}

*:not(ul) {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', serif;
    background-color: #FFFF;
    color: var(--primary400);
    padding: 1rem;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary)
}

.text-sm {
    font-size: .875rem;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: min(100%, 50rem);
    gap: 1.25rem;
}


.grid-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
}

.grid-area-project {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
    gap: 1rem;
}

.address-container {
    display: grid;
    font-size: small;
    margin-top: 20%;
}

.icon-text-wrapper {
    display: flex;
    align-items: center;
}

.icon-text-wrapper>a {
    margin-left: 12px;
    text-decoration: none;
    color: currentColor;
}

.name-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;

}

.name-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.fr;
    gap: 0px 0px;
}

.name {
    font-size: 1.75rem;
    font-weight: 900;
}

.title {
    font-weight: 600;
    color: var(--primary600);
    margin-bottom: 1rem;
}

.description {
    color: var(--primary400);
    font-style: normal;
}

.body > div {
    display: grid;
    gap: 1rem;
    place-content: baseline;
}

.body > div > .content {
    width: 100%;
}


.content {
    display: grid;
}

.content.summary{
    page-break-inside: avoid;
}

.page-break {
    page-break-before: always;
    page-break-after: always;
}
.content-head {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid currentColor;
    margin-bottom: 1rem;
    padding-bottom: 5px;
}

.content-item {
    line-height: 1.3;
    display: grid;
}

.content-location {
    font-size: small;
}

.content-title {
    font-weight: 600;
}

.content-date {
    font-style: italic;
    font-size: small;
}

.content-list {
    position: relative;
}

.content-list:before {
    position: absolute;
    top: 0;
    left: 8px;
    content: '';
    width: 2px;
    height: 100%;
    background: currentColor;
}

.content-list li {
    list-style: none;
    position: relative;
}

.content-list li + li {
    margin-top: .75rem;
}

.content-list li:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: currentColor;
    position: absolute;
    transform: translate(-37px, 50%);
    margin-top: 12px;
    border-radius: 50%;
}

.items-container>span {
    border: 1px solid currentColor;
    border-radius: 9px;
    padding: 5px 12px;
    display: inline-flex;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 12px;
}

.project-group {
    padding: 10px;
}

.project-group-title { 
    font-weight: bold;
}

.project-group-body {
    margin-top: 10px;
}

.project {
    border: 1px solid var(--primary400);
    border-radius: 10px;
    page-break-inside: avoid;
}

.project-title {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid var(--primary400);
    font-weight: 600;
}

.project-body {
    padding: 10px;
    display: grid;
}

.project-technologies {
    padding: 10px;
}

.rm-link {
    text-decoration: none;
    color: currentColor;
}